{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cyberforum - форум программистов и сисадминов</title>
    <script src="{% static "js/jquery-3.2.1.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/reset.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap/bootstrap-theme.min.css" %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <script src="{% static "js/js_scripts.js" %}"></script>
</head>
<body>

</body>
</html>